<header>
    <nav class="nav-bar">
        <div class="left">
            <a href="/">Workout.Planner</a>
            <a href="/about">About</a>
        </div>
        <div class="right">
            {{#if currentUser}}
            <a href="/user/logout">Log out</a>
            <a href="/{{currentUser.details.username}}">Your shelf &rarr;</a>
            {{else}}
            <a href="/user/login">Log in</a>
            <a href="/user/signup">Sign up &rarr;</a>
            {{/if}}
        </div>
    </nav>
</header>

<div class="hero">
    <h1>Your Events</h1>
</div>

<div class="events-page">
    <div object class="events-container">
        <ul array sortable key="workouts" class="events-list">
            {{#for workout in workouts}}
            <li object key:name="@search" key:day="@search">
                <div class="workout-header" edit:name edit:day>
                    <h1 object target:name="@innerText">
                        {{default workout.name "Do Something"}}
                    </h1>
                    <h2 object target:day="@innerText">
                        {{default workout.day "Everyday"}}
                    </h2>
                </div>
                <div class="workout-body">
                    <div object class="exercises-container">
                        <ul array sortable key="exercises">
                            {{#for exercise in exercises}}
                                <li object key:name="@search" key:sets="@search" edit:name edit:sets>
                                    <h2 object target:name="@innerText">
                                        {{default exercise.name "Bench"}}
                                    </h2>
                                    <h3 object target:sets="@innerText">
                                        {{default exercise.sets "3 Sets of 10"}}
                                    </h3>
                                </li>
                            {{/for}}
                        </ul>
                    </div>
                    <button new:exercise>Add exercise</button>
                </div>
            </li>
            {{/for}}
        </div>

        <section>
            <div class="topic-header split">
                <h2 new:topic edit-control-hide>
                    + Add a topic section
                </h2>
            </div>
        </section>
    </article>
</div>